.card {
  background-color: rgb(249, 249, 249);
}

/* 整個包裝商品資訊的容器 */
.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 11em;
  top: 3em;
  width: 80vw;
  height: 90vh;
  margin-bottom: 8em;
  background-color: white;
}

/* 圖片容器 */
.imgContainer {
  position: relative;
  right: 1em;
  width: 35vw;
  height: 70vh;
}

/* 圖片 */
.imgContainer img {
  width: 100%;
  height: 100%;
}

/* 商品資訊容器 */
.itemDataContainer {
  position: relative;
  left: 2.5em;
  width: 35vw;
  height: 70vh;
}

/* 商品標題容器 */
.itemTitleContainer {
  height: 17vh;
}

/* 商品標題 */
.itemTitle {
  font-size: 300%;
  font-weight: 500;
}

/* 商品價格容器 */
.itemPriceContainer {
  height: 8.5vh;
}

/* 商品價格 */
.itemPrice {
  color: red;
  font-size: 200%;
  font-weight: 500;
}

/* 商品描述容器 */
.itemDescriptionContainer {
  height: 30vh;
}

/* 商品描述 */
.itemDescription {
  font-size: 200%;
}

/* 購買數量和剩餘數量容器 */
.itemQuantityContainer {
  display: flex;
}

/* 加入購物車和直接購買容器 */
.cartAndBuyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

/* 加入購物車容器 */
.addCartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 6vh;
  background-color: #e89d72;
  position: relative;
  right: 7.5vw;
}

/* 加入購物車容器鼠標效果 */
.addCartContainer:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 加入購物車字樣 */
.addCart {
  color: white;
  font-weight: 600;
  position: relative;
  top: 0.7vh;
}

/* 剩餘數量字樣 */
.itemQuantity {
  position: relative;
  left: 1em;
}
